body{
 text-align:center;
  color:#777269;
    background-color:#77bee5;
     font-family: 'Berkshire Swash', cursive;
	border-radius: 15px 50px;
}
p{
 font-size:250px;
}
 h1{
  font-size:450px;
   color:#6d6962;
}
footer{
	font-size:20%;	
}
