body{
	background-color:#8CC3C7;
	color:#615434;	
	font-size:150%;
	font-family: 'Kalam', cursive;
	text-align:center;

}
header{
	background:#247E97;
	margin:0px;
	padding:0px;
}
h1{
	font-size:200%;
		padding:0;
	background:#247E97;
	color:#615434;
	margin:0px;

}
a{
	background:#0B0B61;
	margin:0;
	padding:0;
	color:yellow;
	text-decoration:none;
	border:black;
	border:5px;

}
.smallp{
	font-size:20%;	
}
footer{
	font-size:70%;	
}
.mid{
	text-align:center;
	margin:0px 10px;
	
}

img{
			margin:0 auto;
			width: 5%;
			height: 5%;
}
.exp{
	color:beige;
	font-size:110%;
	
}

keys
{
position:relative;
top:15px;
}
.button
{
width:40px;
height:30px;
border:none;
border-radius:8px;
margin-left:17px;
cursor:pointer;
border-top:2px solid transparent;
}
.button.gray
{
color:white;
background-color:#6f6f6f;
border-bottom:black 2px solid;
border-top:2px #6f6f6f solid;
}
.button.pink
{
color:black;
background-color:#ff4561;
border-bottom:black 2px solid;
}
.button.black
{
color:white;
background-color:303030;
border-bottom:black 2px solid;
border-top:2px 303030 solid;
}
.button.orange
{
color:black;
background-color:FF9933;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
}
.gray:active
{
border-top:black 2px solid;
border-bottom:2px #6f6f6f solid;
}
.pink:active
{
border-top:black 2px solid;
border-bottom:#ff4561 2px solid;
}
.black:active
{
border-top:black 2px solid;
border-bottom:#303030 2px solid;
}
.orange:active
{
border-top:black 2px solid;
border-bottom:FF9933 2px solid;
}
p
{
line-height:10px;
}
