body{
 	background-color:#060f72;
 	color:#c92f14;
	text-align:center;
}
a{
 	background-color:#5fd132;
 	
	color: black;
	
	font-size: 220%;

	margin:2px;

	padding:0;

	text-decoration:none;

	border:.5px solid #7a7984;

	border-radius:10%;
}
h1{
color:#7a127a;
	font-size: 350%;
}

p{
color:#dda523;	
	font-size:150%;
}
