body{
 background-color:#1addbd;
 color:#c92f14
}
a{
 background-color:#5fd132;
 color: black;
 
 font-size: 220%;

	margin:2px;

	padding:0;

	text-decoration:none;

	border:.5px solid #7a7984;

	border-radius:10%;
}
h1{
color:#7a127a;
}

p{
color:#dda523;	
}
